.container {
  margin-top: 40px;
}

.file-upload, .file-upload-comment {
  margin: 10px 0 10px 0;
  padding-top: 20px;
}

.file-upload-input {
  width:100%;
}

.comment-input {
  width: 100%;
}

.comment-submit {
  float: right;
}