<html>
<head>
  <link href="/stylesheets/style.css" rel="stylesheet" type="text/css" />
</head>
<body>
  <form action="/uploads" method="post" enctype="multipart/form-data" class="js-upload-form">
    <input type="file" name="file" id="file-upload-input"><br/>
    <input type="submit" value="Upload" id="file-upload-submit">
  </form>
  
  <div class="progress" id="file-upload-progress">
  </div>
  <div id="status">
  </div >

<script src="/javascripts/lib/jquery.min.js"></script>
<script src="/javascripts/application.js"></script>
</body>
</html>